:root {
    --primary: #0f9fbf;
    --primary-text: white;
}

a {
    text-decoration: none;
    transition: all .5s ease;
}
a:hover {
    background-color: var(--primary);
    color: var(--primary-text);
}

input[type="checkbox"] {
    accent-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--primary-text);
}

header nav a {
    transition: all .3s ease;
}

header .navigation a:hover {
    background-color: var(--primary);
    color: var(--primary-text);
}

.calculator-line {
    background-color: var(--primary);
}

.custom-radio-container {
    display: flex;
    overflow: hidden;
}

.custom-radio-input {
    flex-grow: 1;
}

.custom-radio-input label {
    display: block;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    transition: all .3s ease;
}

.custom-radio-input:has(input[type="radio"]:checked) {
    background-color: var(--primary) !important;
    color: var(--primary-text) !important;
}

.custom-radio-input input[type="radio"] {
    display: none;
}

#result {
    display: flex;
    justify-content: center;
}

main {
    position: relative;
}

.page-color-selector {
    display: flex;
    justify-content: flex-end;
}

.page-color-selector input[type="color"]:first-child {
    padding: 0;
    margin: 0;
    border: 2px solid white;
    box-shadow: none;
    border-radius: 50%;
    background: none;
    margin-bottom: 20px;
}

.page-color-selector input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.page-color-selector input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.page-color-selector input[type="color"]:nth-child(2) {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 100px;
    outline: none;
}

.page-color-selector input[type="color" i] {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    display: block;
}

.error::before {
    content: '[x] ';
}

.error {
    color: white;
    background-color: #dc2626;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: 0 0 3px white;
}

.error:empty {
    display: none;
}